

html {
    height: 100%;
}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: relative;
    min-height: 100%;
}

.labelcss {
    font-family: Century Gothic;
    font-size: 13pt;
    color: #25383C;
    vertical-align: top;
    font-weight: normal;
}

.MainContainer {
    max-width: 75%;
    padding-bottom: 0px;
margin-left:20px;
    font-size: 13px;
    margin:2px;
    background: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.DataForm {
    padding: 0px;
    margin: 8px;
    background: #fff;
    overflow: hidden;
    position: relative;
    text-align: left;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


    .DataForm td {
        vertical-align: top;
        font-size: 11pt;
     padding: 8px 2px 25px 2px;
    }
    .DataForm th {
        height: 50px;
        font-size: 16pt;
        font-weight: bold;
        color: white;
        background: #27ae60;
        font-family: 'Century Gothic';
        text-align: left;
        padding-left: 8px;
    }
.DataFormHeader {
    padding: 0px;
    margin: 8px;
    background: #fff;
    overflow: hidden;
    position: relative;
    text-align: left;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


    .DataFormHeader td {
        vertical-align: top;
        font-size: 11pt;
      padding: 10px 2px 18px 2px;
    }
    .DataFormHeader th {
        height: 50px;
        font-size: 16pt;
        font-weight: bold;
        color: white;
        background: #27ae60;
        font-family: 'Century Gothic';
        text-align: left;
        padding-left: 8px;
    }

.DataContainer {
    box-sizing: border-box;
    float: left;
    /*border: 1px solid #000;*/
    margin-left: 12%;
  
}

#firstBox {
    margin-left: 0px;
}

.textarea {
    background: #F2F2F2;
    height: 40px;
    /*margin-left:66px;*/
    padding: 8px;
    top: 6px;
    box-sizing: border-box;
    font-size: 12pt;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-family: 'Century Gothic';
    position: relative;
    display: block;
}

.DropdownCss {
    font-size: 12pt;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    background: #F2F2F2;
    text-align: left;
    font-family: Century Gothic;
    height: 40px;
    /*margin-left:14px;*/
    top: 6px;
}

.anchor {
    font-family: Century Gothic;
    font-size: 13pt;
    color: #25383C;
    font-weight: normal;
    position: relative;
    pointer-events: none;
    margin-bottom: 3px;
    text-align: left;
    display: block;
}

    .anchor:after {
        content: "\00a0 ""*";
        color: red;
    }

.anchor_n {
    font-family: Century Gothic;
    font-size: 13pt;
    color: #25383C;
    font-weight: normal;
    position: relative;
    pointer-events: none;
    margin-bottom: 3px;
    text-align: left;
    display: block;
}

.mGrid {
    background-color: #fff;
    /*margin: 3px 0 8px 0;*/
    border: solid 0px #525252;
    border-collapse: collapse;
    width: 100%;
       padding:0px;
}

    .mGrid td {
        padding: 6px;
        border: solid 1px #ccc;
        color: #25383C;
        font-family: Century Gothic;
        text-transform: uppercase;
        font-size: 12pt;
    }

    .mGrid th {
        height: 35px;
        text-transform: uppercase;
        color: #fff;
        background: #008080;
        font-size: 12pt;
        font-family: Century Gothic;
        padding:0px;
        padding-left:4px;
    }

.mGridTextBox {
    outline: 0;
    background: #F2F2F2;
    height: 35px;
    border: 0;
    margin-left: 0px;
    padding: 8px;
    top: 0px;
    box-sizing: border-box;
    font-size: 12pt;
    border: 1px solid #ccc;
    font-family: 'Century Gothic';
    position: relative;
    display: block;
    overflow: hidden;
}

.mGrid .pgr {
    background: #25383C url(grd_pgr.png) repeat-x top;
}

.RadioCss {
    font-size: 12pt;
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    background: #F2F2F2;
    text-align: left;
    font-family: Century Gothic;
    height: 25px;
    top: 6px;

}

.footer {
    float: left;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
    width: 100%;
    text-align: left;
    background-color: #003366;
    color: #FFFFFF;
    font-family: Century Gothic;
    height: 50px;
}

    .footer a {
        font-family: 'Lucida Sans';
        font-size: 11pt;
        margin-left: 10px;
    }

.Validator {
    font-family: Century Gothic;
    font-size: 13pt;
    color: #25383C;
    font-weight: normal;
    position: relative;
    pointer-events: none;
    left: 68px;
    margin-bottom: 3px;
    text-align: left;
    display: block;
}
